<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>災害情報</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<script>
  // 30秒ごとにページを再読み込み
  setInterval(() => {
    location.reload();
  }, 30000);
</script>

<body>

<!-- ===== ヘッダー ===== -->
<header class="header">
    <h1>ディザ・スタロウ~災害情報~</h1>
    <div>
        <a href="/prepare">事前準備</a>
        <a href="/dashboard">戻る</a>       
    </div>
</header>

<h1>{{ user_pref }} の過去の災害履歴</h1>

<h2>地震</h2>
{% if earthquakes %}
<table>
  <tr>
    <th>地域</th><th>M</th><th>最大震度</th><th>時刻</th>
  </tr>
  {% for e in earthquakes %}
  <tr>
    <td>{{ e[0] }}</td>
    <td>{{ e[1] }}</td>
    <td>{{ e[2] }}</td>
    <td>{{ e[3] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>該当する地震はありません</p>
{% endif %}

<h2>津波</h2>
{% if tsunamis %}
<table>
  <tr>
    <th>地域</th><th>種別</th><th>時刻</th>
  </tr>
  {% for t in tsunamis %}
  <tr>
    <td>{{ t[0] }}</td>
    <td>{{ t[1] }}</td>
    <td>{{ t[2] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>該当する津波情報はありません</p>
{% endif %}
