<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>防災チェック</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- ===== ヘッダー ===== -->
<header class="header">
    <h1>ディザスタロウ~防災チェック~</h1>
    <div>
        <a href="/prepare">事前準備一覧</a>
        <a href="/dashboard">災害情報</a>

    </div>
</header>


<div class="container">

<form action="/pre_check/pre_result" method="POST">

<div class="question">
    <label>
        <input type="checkbox" name="elderly">
        高齢者がいる
    </label>
    <label>
        <input type="checkbox" name="baby">
        乳幼児がいる
    </label>
    <label>
        <input type="checkbox" name="pet">
        ペットがいる
    </label>
    <label>
        <input type="checkbox" name="medical">
        持病・医療的配慮が必要な人がいる
    </label>
    <label>
        <input type="checkbox" name="female">
        女性特有の配慮が必要
    </label>
    <label>
        <input type="checkbox" name="alone">
        一人暮らし
    </label>
    <label>
        <input type="checkbox" name="pregnant">
        妊娠中の人がいる
    </label>
    <label>
        <input type="checkbox" name="allergy">
        アレルギーがある
    </label>
    <label>
        <input type="checkbox" name="home">
        在宅避難を想定している
    </label>
    <label>
        <input type="checkbox" name="car">
        車を所有している
    </label>
    <label>
        <input type="checkbox" name="foreign">
        多言語対応が必要
    </label>

</div>
<div class="submit-btn">
    <button type="submit">必要な物資を確認する</button>
</div>

</form>

</div>
</body>
</html>
