<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>防災チェック（条件入力）</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    <h1>防災チェック</h1>
    <p>あなたに必要な防災物資を確認します</p>
</div>

<div class="container">

<form action="/pre_check/check_result" method="POST">

<div class="question">
    <label>
        <input type="checkbox" name="elderly">
        高齢者がいる
    </label>
    <label>
        <input type="checkbox" name="baby">
        乳幼児がいる
    </label>
    <label>
        <input type="checkbox" name="pet">
        ペットがいる
    </label>
    <label>
        <input type="checkbox" name="medical">
        持病・医療的配慮が必要な人がいる
    </label>
    <label>
        <input type="checkbox" name="female">
        女性特有の配慮が必要
    </label>
</div>
<div class="submit-btn">
    <button type="submit">必要な物資を確認する</button>
</div>

</form>

</div>
</body>
</html>
