<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- ===== ヘッダー ===== -->
<header class="header">
    <h1>ディザスタロウに登録</h1>
    <div>
        <a href="/dashboard">災害情報</a>
        <a href="/login">ログイン</a>
    </div>
</header>


<div class="container">
    <h2>ユーザー登録</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="msg">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}

    <form method="POST">
      <input type="text" name="username" placeholder="ユーザー名">
      <input type="phone" name="phone" placeholder="電話番号">
      <input type="password" name="password" placeholder="パスワード">
      <select name="location" size="15"> <!-- size属性で表示行数を増やす -->
        {% for pref in prefectures %}
        <option value="{{ pref }}">{{ pref }}</option>
        {% endfor %}
      </select>
      <button type="submit">登録</button>
    </form>
    
</div>
</body>
</html>
